################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoundOne/RoundOne/obj
/RoundOne/.vs/RoundOne/v16
/.vs
